<div class="footer">
    <ul class="footer-ul">
        <ol><span>Keep in touch: </span></ol>
        <ol><a class="foot-item" href="mailto:{{ site.email }}" target="_blank"><span class="fa fa-envelope fa-3"></span></a></ol>
        <ol><a class="foot-item" href="https://github.com/{{ site.github_username }}" target="_blank"><span class="fa fa-github fa-3"></span></a></ol>
        <ol><a class="foot-item" href="http://weibo.com/u/{{ site.weibo_username }}" target="_blank"><span class="fa fa-weibo fa-3"></span></a></ol>
        <ol><a class="foot-item" href="http://steamcommunity.com/profiles/{{ site.steam_username }}" target="_blank"><span class="fa fa-steam fa-3"></span></a></ol>
        <ol><a class="foot-item" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}" target="_blank"><span class="fa fa-rss fa-3"></span></a></ol>
    </ul>
</div>